.modalBackground {
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(46, 44, 44, 0.37);
    justify-content: center;
    align-items: center;
    z-index: 100;
  }
  
  .modalContainer {
    position: relative;
    margin-left: 35%;
    margin-top: 7%;
    /* margin-top: 5rem; */
    width: 500px;
    height: 305px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    
  }
  
  .modalContainer .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    /* text-align: center; */
    margin-top: 5px;
    margin-bottom: 10px;
    gap: 2rem;
  }
  
  .modalContainer .title img {
    width: 100px;
    height: auto;
    opacity: 0.4;
    margin-top: 15px;
  }

  .modalContainer .title p{
    font-size: 14px;
    color: #666;
    margin-left: 15px;
    margin-right: 15px;
  }

  .titleCloseBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f1f0f0;
    padding-bottom: 0.5rem;
  }
  
  .titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
  }

  .titleCloseBtn button:hover {
    background-color: #f1f0f0;
  }
  
  .modalContainer .body {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    text-align: center;
  }
  
  .modalContainer .footer {
    flex: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  
  .modalContainer .footer .modal__login__btn {
    width: 300px;
    height: 35px;
    color: white;
    border-radius: 8px;
    font-size: 16px;
    background-color: #657ef8;
    color: #e1e7ff;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .modalContainer .footer .modal__login__btn:hover {
    background-color: #e1e7ff;
    color: #657ef8;
    border: none;
    
  }

  .modalContainer .footer .footer_txt {
    font-size: 14px;
    color:#666;
  }

  .modalContainer .footer .footer_txt a {
    text-decoration: none;
    color: #657ef8;
    
  }
  
  #cancelBtn {
    background-color: crimson;
  }